<h1>Shops#position</h1>

<p id="abc">Find me in app/views/shops/position.html.erb</p>
<%= link_to "位置情報を更新", action: :positionjs, remote: true %>
<div class="shops">
  <% @shops.each do |shop| %>
    <p><%= shop.name %>/<%= shop.address %></p>
  <% end %>
</div>