<header>
    <h1>NearByCafe</h1>
</header>
<div>
    <h1>シロカネ屋</h1>
    <div class="flex">
        <img src="img/shirokane.png" alt="シロカネ屋">
        <ul class="text">
            <li>住所：</li>
            <li>営業時間：</li>
            <li>定休日：</li>
            <li>予算：</li>
        </ul>
    </div>
</div>