<h1>User#index<h1>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>e-mail</th>
      <th>created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user.id) %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '戻る', shops_path, class: "btn btn-primary" %>