/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* index_css 追記 */
 @charset "utf-8";

 @import "bootstrap";

 header {
  width: 100%;
  padding: 0 50px 0 40px;
  background-color: floralwhite;
  top: 0;
  display: flex;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_img {
  height: 90px;
  width: 100%;
}

li a {
  text-decoration: none;
  color: #4d4d4d;
  position: relative;
  display: inline-block;
  transition: .3s;
}

li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #31aae2;
  transition: .3s;
  transform: translateX(-50%);
}

li a:hover{
  text-decoration: none;
}

li a:hover::after {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 25px;
  font-size: 20px;
}

nav {
  margin: 0 0 0 auto;
}

body {
  background-color: floralwhite;
}

.b-wrap {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.b-container1 {
  display: grid;
  padding: 10px;
  height: 434px;
  /* background: #f8cab4; */
  grid-template:
  "b-item1 ....... b-item2 ....... b-item3 ....... b-item4"
  "b-item1 ....... b-item5 ....... b-item6 ....... b-item7"
  /* "b-item1 ....... b-item8 ....... b-item9 ....... b-item10"
  "b-item1 ....... b-item11 ....... b-item12 ....... b-item13"
  "b-item1 ....... b-item14" */
  /23.1% 12px 22.4% 12px 1fr 12px 13.5%;
}

.b-container2 {
    display: grid;
    padding: 10px;
    height: 434px;
    /* background: #f8cab4; */
    grid-template:
    "b-item8 ....... b-item9 ....... b-item10 ....... b-item11"
    "b-item8 ....... b-item12 ....... b-item13 ....... b-item14"
    /23.1% 12px 22.4% 12px 1fr 12px 13.5%;
}
  

.b-item1, .b-item2, .b-item3, .b-item4, .b-item5, .b-item6, .b-item7,
.b-item8, .b-item9, .b-item10, .b-item11, .b-item12, .b-item13, .b-item14
{
  /* border: 1px solid red; */
  font-size: 20px;
}

.b-item1 {
  grid-area: b-item1;
  background: aqua;
}

.b-item2 {
  grid-area: b-item2;
  background: pink;
  height: 247px;
}

.b-item3 {
  grid-area: b-item3;
  background: blanchedalmond;
  height: 166px;
}

.b-item4 {
  grid-area: b-item4;
  background: orange;
  height: 165px;
}

.b-item5 {
  grid-area: b-item5;
  background: blueviolet;
  height: 150px;
  margin-top: 16px;
}

.b-item6 {
  grid-area: b-item6;
  background: aliceblue;
  width: 68.5%;
  height: 234px;
  margin-top: -67px;
}

.b-item7 {
  position: absolute;
  grid-area: b-item7;
  background: aquamarine;
  height: 234px;
  width: 24%;
  top: 190px;
  right: 10px;
}

.b-item8 {
    grid-area: b-item8;
    background: aqua;
}

.b-item9 {
    grid-area: b-item9;
    background: pink;
    height: 247px;
}

.b-item10 {
    grid-area: b-item10;
    background: blanchedalmond;
    height: 166px;
}

.b-item11 {
    grid-area: b-item11;
    background: orange;
    height: 165px;
}

.b-item12 {
    grid-area: b-item12;
    background: blueviolet;
    height: 150px;
    margin-top: 16px;
}

.b-item13 {
    grid-area: b-item13;
    background: aliceblue;
    width: 68.5%;
    height: 234px;
    margin-top: -67px;
}

.b-item14 {
    position: absolute;
    grid-area: b-item14;
    background: aquamarine;
    height: 234px;
    width: 24%;
    bottom: 10px;
    right: 10px;
}


.imagbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media screen and (max-width: 900px) {
    .b-container1 {
        height: auto;
        grid-template:
        "b-item1 b-item2" 250px
        "b-item1 b-item5" 200px
        "b-item3 b-item4" 200px
        "b-item6 b-item7" 300px
        /* "b-item8 b-item9" 250px
        "b-item8 b-item12" 200px
        "b-item10 b-item11" 200px
        "b-item13 b-item14" 300px */

        / 1fr 1fr;
        gap: 12px;
    }

    .b-item1, .b-item2, .b-item3, .b-item4, .b-item5, .b-item6, .b-item7
    /* .b-item8, .b-item9, .b-item10, .b-item11, .b-item12, .b-item13, .b-item14  */
    {
        height: auto;
    }

    .b-item7 {
        position: static;
        width: auto;
    }

    .b-item6 {
        width: 100%;
        margin-top: 0;
    }

    .b-container2 {
        height: auto;
        grid-template:
        /* "b-item1 b-item2" 250px
        "b-item1 b-item5" 200px
        "b-item3 b-item4" 200px
        "b-item6 b-item7" 300px */
        "b-item8 b-item9" 250px
        "b-item8 b-item12" 200px
        "b-item10 b-item11" 200px
        "b-item13 b-item14" 300px

        / 1fr 1fr;
        gap: 12px;
    }

    /* .b-item1, .b-item2, .b-item3, .b-item4, .b-item5, .b-item6, .b-item7 */
    .b-item8, .b-item9, .b-item10, .b-item11, .b-item12, .b-item13, .b-item14 
    {
        height: auto;
    }

    .b-item14 {
        position: static;
        width: auto;
    }

    .b-item13 {
        width: 100%;
        margin-top: 0;
    }
}
